<!DOCTYPE html>
<html>
<head><title>WelCome</title>
<link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
{% block head_block %}{% endblock %}</head>
<body>
{% block body_block %}
{% endblock %}
{% if user.is_authenticated %}
    <hr/>
    <ul>
    <li><a href="{% url 'friends' %}">Message</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'users' %}">People</a></li>
    <li><a href="{% url 'profile_reg' %}">Update Profile</a></li>
    <li><a href="{% url 'show_profile' user.username %}">Show Profile</a></li>
    <li><a href="{% url 'status' %}">Status Updates</a></li>
    <li><a href="{% url 'show_msg' %}">Group Discussion</a> </li>
    </ul>
{% else %}
    <ul>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Sign UP</a></li>
    </ul>
{% endif %}
</body>
</html>