<!DOCTYPE html>
<html>
<head><title>WelCome</title></head>
<body>
{% block body_block %}
{% endblock %}
{% if user.is_authenticated %}
    <hr/>
    <ul>
    <li><a href="{% url 'message' %}">Message</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'users' %}">People</a></li>
    <li><a href="{% url 'profile_reg' %}">Update Profile</a></li>
    <li><a href="{% url 'show_profile' user.username %}">Show Profile</a></li>
    <li><a href="{% url 'status' %}">Status Updates</a></li>
    <li><a href="{% url 'upload_status' %}">Upload Status</a></li>
    </ul>
{% else %}
    <ul>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Sign UP</a></li>
    </ul>
{% endif %}
</body>
</html>