{% extends 'dev/base.html' %}
{% block head_block %}
    <style>
    .jump {
        margin-left: 50%;
    }
    </style>
{% endblock %}
{% block body_block %}
    {% if both_msg %}
        {% for ms in both_msg %}
            {% if ms.sender == me %}
                <div class="jump"><ul><li>Me: {{ ms.message }}<br>{{ ms.datetime }}</li></ul></div>
            {% else %}
                <ul><li>{{ ms.sender }}: {{ ms.message }}<br>{{ ms.datetime }}</li></ul>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>You do not have any message with this person</p>
    {% endif %}
    <form role="form" id="message_form" method="post"
          action="{% url 'send_message' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}
    <br/>
    <button type="submit" name="submit">Send</button>
    </form>
{% endblock %}