{% extends 'dev/base.html' %}
{% block body_block %}
    <h3>Upload your own status</h3>
    <form role="form" id="status_form" method="post" enctype="multipart/form-data"
          action="{% url 'upload_status' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="submit">Upload</button>
    </form>
    <hr>
    {% if status %}
        {% for stat in status %}
            <ul>
            <li>{{ stat.uploader }}: {{ stat.status }}<br>
            {% if stat.stat_pic %}
                <img src="/media/{{ stat.stat_pic }}">
            {% endif %}</li>
            </ul>
        {% endfor %}
    {% else %}
        <p>No status to display</p>
    {% endif %}
{% endblock %}